# Tuples
A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characteristics
- Ordered
- Unchangeable
- Allows Duplicate

# Plan of Attack
- Creating a tuple
- Accessing items
- Editing items (actually can't do)
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

## Creating Tuples

In [1]:
# empty
t1 = ()
print(t1)

()

In [2]:
# create a tuple with a single item
t2 = (2)
print(t2, type(t2))

2 <class 'int'>

In [3]:
# single item tuple
t2 = (2,)
print(t2, type(t2))

(2,) <class 'tuple'>

In [4]:
# homogeneous tuple
t3 = (1,2,3,4)
print(t3)

(1, 2, 3, 4)

In [5]:
# heterogeneous tuple
t3 = (1,"Ankit",'m')
print(t3)

(1, 'Ankit', 'm')

In [6]:
# 2-D tuple
t4 = ((1,2,3),(4,5,6))
print(t4)

((1, 2, 3), (4, 5, 6))

In [8]:
# using type conversion
t5 = tuple("India")
print(t5, type(t5))

('I', 'n', 'd', 'i', 'a') <class 'tuple'>

# Accessing Items
- Indexing
- Slicing

In [9]:
t3 = (1,2,3,4)
t3

(1, 2, 3, 4)

In [14]:
print(t3[0])
print(t3[1])
print(t3[2])
print(t3[3])
print(t3[-1])
print(t3[-2])
print(t3[-3])
print(t3[-4])

1
2
3
4
4
3
2
1

In [22]:
print(t3[0:3])
print(t3[0:3:2])
print(t3[-3:-1])
print(t3[::-1])

(1, 2, 3)
(1, 3)
(2, 3)
(4, 3, 2, 1)

In [24]:
t4

((1, 2, 3), (4, 5, 6))

In [26]:
print(t4[-1][0])

4

# Editing

In [28]:
t3

(1, 2, 3, 4)

In [29]:
t3[0] = 100
print(t3) # tuple does not support item assignment. They are immutable just like strings.

TypeError: 'tuple' object does not support item assignment

## Adding items

In [30]:
print(t3)
# not possible

(1, 2, 3, 4)

## Deleting items

In [31]:
print(t3)
del(t3) #whole tuple is deleted
print(t3)

(1, 2, 3, 4)

NameError: name 't3' is not defined

In [32]:
t9 = (1,2,3,(4,5))
del(t9[-1]) # We can't edit inside the tuple

TypeError: 'tuple' object doesn't support item deletion

## Operations on Tuples

In [34]:
# + and -
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1+t2)
# membership
1 in t1 # Output - True
#iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
1
2
3
4

## Tuple Functions

In [39]:
# len/sum/min/max/sorted
t = (1,2,3,4)
print(len(t))

print(sum(t)) #also in list

print(min(t))

print(max(t))

print(sorted(t))

print(sorted(t, reverse=True))

4
10
1
4
[1, 2, 3, 4]
[4, 3, 2, 1]

In [40]:
#count

t = (1,2,3,4,4,4,5)
print(t.count(5))
print(t.count(4))
print(t.count(50))

1
3
0

In [42]:
# index

t = (1,2,3,4,5)
print(t.index(2)) # If multiple occurences of a single element is present then it only shows the index of the first occurence of that element

1

## Difference between Lists and Tuples
- Syntax
- Mutability
- Speed - Tuples are faster than lists.
- Memory - Tuples takes less memory
- Built in functionality
- Error prone
- Usability

In [43]:
import time

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 10.95798659324646
Tuple time 7.497974157333374

In [44]:
import sys
L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [45]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [46]:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

## Special Syntax

In [47]:
# tuple unpacking

a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [48]:
a,b = (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [49]:
a = 1
b = 2
a,b = b,a
print(a,b)

2 1

In [54]:
a,b,*others = (1,2,3,4,5,6,7)
print(a,b)
print(others)

1 2
[3, 4, 5, 6, 7]

In [55]:
# zipping values
a = (1,2,3,4)
b = (5,6,7,8)

zip(a,b)

In [56]:
list(zip(a,b))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [57]:
tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

# Sets
A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference,etc.

Characteristics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

## Creating Sets

In [71]:
# empty
s = {}
print(s, type(s))
s = set()
print(s,type(s))
# 1D and 2D
s1 = {1,2,3}
print(s1)
# homo and hetero
s2 = {1,2,3,4,6,5}
print(s2)
s3 = {1,'Ankit',True,3.14} #True -> 1 duplicates not allowed
print(s3)
# using type conversion
s4 = set([1,2,5,8,8,9,6,5,7])
print(s4, type(s4))
# dupplicates not allowed
s5 = {1,2,3,3,3,3,3,4,5,5,5,6,6,7,8,100,100}
print(s5)
# set can't have mutable items
s6 = {1,2,3,{4,5,6}}
print(s6)

{} <class 'dict'>
set() <class 'set'>
{1, 2, 3}
{1, 2, 3, 4, 5, 6}
{1, 3.14, 'Ankit'}
{1, 2, 5, 6, 7, 8, 9} <class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 100}

TypeError: unhashable type: 'set'

## Accessing Items

In [75]:
s1 = {1,2,3}
s9 = {3,2,1}
s1 == s9

True

In [76]:
s1 = {1,2,3}
s1[0]

TypeError: 'set' object is not subscriptable

## Editing Items

In [77]:
s1 = {1,2,3,4}
s1[0] = 100

TypeError: 'set' object does not support item assignment

## Adding Items

In [78]:
S = {1,2,3,4}
# add
S.add(5)
print(S)

{1, 2, 3, 4, 5}

In [79]:
S

{1, 2, 3, 4, 5}

In [80]:
S.update([5,6,7,8])
print(S)

{1, 2, 3, 4, 5, 6, 7, 8}

## Delete Items

In [83]:
#del
S = {1,2,3,4,5,6,7,9,10}
del(S)
print(S)

NameError: name 'S' is not defined

In [86]:
#discard
S = {1,2,3,4,5}
S.discard(5)
S.discard(50) #don't throw error if element is not present
print(S)

{1, 2, 3, 4}

In [85]:
#remove
S = {1,2,3,4,5}
S.remove(5)
print(S) #will return error if the element is not present in the set and we are trying to delete it.

{1, 2, 3, 4}

In [87]:
#pop
S = {1,2,3,4,5}
S.pop()
print(S)

{2, 3, 4, 5}

In [88]:
#clear
S = {1,2,3,4,5,6}
S.clear()
print(S)

set()

## Set Operation

In [91]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
# Union
# Intersection
# Difference
# Symmetric Difference
# Membership Test
# Iteration
print(s1 | s2)
print(s1 & s2)
print(s1 - s2)
print(s2 - s1)
print(s1 ^ s2)
print(2 in s1)
for i in s1:
  print(i)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
True
1
2
3
4
5

In [92]:
# len/sum/min/max/sorted
s = {3,1,4,2,5,7,8}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s))

7
30
1
8
[1, 2, 3, 4, 5, 7, 8]

In [96]:
# union/update
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}
print(s.union(s2))
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{6, 7, 8, 9, 10}

In [97]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.intersection(s2))
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5}
{4, 5, 6, 7, 8}

In [98]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.difference(s2))
s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}
{4, 5, 6, 7, 8}

In [99]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.symmetric_difference(s2))
s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [101]:
# isdisjoint/issubse/issuperset
s1 = {1,2,3,4}
s2 = {3,4,5,6}

print(s1.isdisjoint(s2))
print(s1.issubset(s2))
print(s1.issuperset(s2))

False
False
False

In [103]:
# copy
s1 = {1,2,3,4}
s2 = s1.copy()
print(s2)

{1, 2, 3, 4}

## Frozen Set
Frozen set is just an immutable version of a Python set Object

In [104]:
# create frozenset
fs = frozenset([1,2,3])

In [105]:
# what works and what does not works
# works -> all read functions -> operations will work (union, intersection, set difference)
# doesn't work -> write functions -> add, delete, update, etc.

In [106]:
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [108]:
# When to use
# You want to lock the data (make sure subjects can't be changed later).
# It’s a safe way to store unchangeable group data.
# 2D sets
fs = frozenset([1,2,frozenset([3,4,5])])
fs

frozenset({1, 2, frozenset({3, 4, 5})})

In [110]:
# Set Comprehension

{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

# Dictionary
Dictionary in python is a collection of key values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as maps or associative arrays.

dict = {'name':'ankit','age':21,'gender':'male'}

Characteristics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

## Create Dictionary

In [117]:
# empty dictionary
d = {}
print(d)
# 1D dictionary
d1 = {'name':'ankit','gender':'male'}
print(d1)
# with mixed keys
d2 = {(1,2,3):1,'hello':'world'}
print(d2)
# 2D dictionary -> JSON
s = {
    'name':'ankit',
    'college':'bgu',
    'sem':4,
    'subjects':{
        'dsa': 95,
        'dbms': 96,
        'os': 98,
        'ml' : 100
    }
}
print(s)
# using sequence and dict function
d3 = dict([('name','ankit'),('age',21)])
print(d3)
# duplicate keys
d4 = {'name':'ankit','name':'aryaman'}
print(d4)
# mutable items as keys

{}
{'name': 'ankit', 'gender': 'male'}
{(1, 2, 3): 1, 'hello': 'world'}
{'name': 'ankit', 'college': 'bgu', 'sem': 4, 'subjects': {'dsa': 95, 'dbms': 96, 'os': 98, 'ml': 100}}
{'name': 'ankit', 'age': 21}
{'name': 'aryaman'}

## Accessing Items

In [120]:
my_dict = {'name':'ankit','age':21}
my_dict[0]

KeyError: 0

In [121]:
my_dict

{'name': 'ankit', 'age': 21}

In [122]:
my_dict['name']

'ankit'

In [123]:
my_dict['age']

21

In [124]:
my_dict.get('name')

'ankit'

In [125]:
my_dict.get('age')

21

## Adding key-value pair

In [127]:
my_dict

{'name': 'ankit', 'age': 21}

In [130]:

my_dict['gender']='male'
print(my_dict)

{'name': 'ankit', 'age': 21, 'gender': 'male'}

## Remove key-value pair

In [136]:
# pop
d = {'name': 'ankit', 'age': 21, 'gender': 'male'}
d.pop('name')
print(d)
# popitem
e = {'name': 'ankit', 'age': 21, 'gender': 'male'}
e.popitem()
print(e)
# clear
f = {'name': 'ankit', 'age': 21, 'gender': 'male'}
f.clear()
print(f)
# del
g = {'name': 'ankit', 'age': 21, 'gender': 'male'}
del g['name']
print(g)

{'age': 21, 'gender': 'male'}
{'name': 'ankit', 'age': 21}
{}
{'age': 21, 'gender': 'male'}

In [137]:
s

{'name': 'ankit',
 'college': 'bgu',
 'sem': 4,
 'subjects': {'dsa': 95, 'dbms': 96, 'os': 98, 'ml': 100}}

In [138]:
s['subjects']

{'dsa': 95, 'dbms': 96, 'os': 98, 'ml': 100}

In [140]:
s['subjects']['dsa']

95

In [141]:
s['subjects']['python'] = 93
print(s)

{'name': 'ankit', 'college': 'bgu', 'sem': 4, 'subjects': {'dsa': 95, 'dbms': 96, 'os': 98, 'ml': 100, 'python': 93}}

In [142]:
del s['subjects']['os']
print(s)

{'name': 'ankit', 'college': 'bgu', 'sem': 4, 'subjects': {'dsa': 95, 'dbms': 96, 'ml': 100, 'python': 93}}

## Editing key-value pair

In [143]:
s

{'name': 'ankit',
 'college': 'bgu',
 'sem': 4,
 'subjects': {'dsa': 95, 'dbms': 96, 'ml': 100, 'python': 93}}

In [144]:
s['sem'] = 5
s

{'name': 'ankit',
 'college': 'bgu',
 'sem': 5,
 'subjects': {'dsa': 95, 'dbms': 96, 'ml': 100, 'python': 93}}

In [145]:
s['subjects']['dsa'] = 80
s

{'name': 'ankit',
 'college': 'bgu',
 'sem': 5,
 'subjects': {'dsa': 80, 'dbms': 96, 'ml': 100, 'python': 93}}

## Dictionary Operations
- Membership
- Iteration

In [146]:
print(s)

{'name': 'ankit', 'college': 'bgu', 'sem': 5, 'subjects': {'dsa': 80, 'dbms': 96, 'ml': 100, 'python': 93}}

In [147]:
'ankit' in s

False

In [150]:
'name' in s # membership operations only work for keys in dictionary

True

In [152]:
d = {'name': 'ankit', 'age': 21, 'gender': 'male'}
for i in d:
  print(i,d[i])

name ankit
age 21
gender male

## Dictionary Functions

In [160]:
# len/sorted
print(d)
print(len(d))
print(s)
print(len(s))
print(sorted(d))
print(sorted(s))

{'name': 'ankit', 'age': 21, 'gender': 'male'}
3
{'name': 'ankit', 'college': 'bgu', 'sem': 5, 'subjects': {'dsa': 80, 'dbms': 96, 'ml': 100, 'python': 93}}
4
['age', 'gender', 'name']
['college', 'name', 'sem', 'subjects']

In [162]:
# items/keys/values
print(d)
print(d.items())
print(d.keys())
print(d.values())

{'name': 'ankit', 'age': 21, 'gender': 'male'}
dict_items([('name', 'ankit'), ('age', 21), ('gender', 'male')])
dict_keys(['name', 'age', 'gender'])
dict_values(['ankit', 21, 'male'])

In [163]:
# update
d1 = {1:2,3:4,5:6}
d2 = {5:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 5: 7, 6: 8}

## Dictionary Comprehension
![Screenshot 2025-07-07 213021.png]()

In [165]:
# print 1st 10 numbers and their squares

d = {i:i**2 for i in range(1,11)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [166]:
# using existing dictionary

distances = {'delhi':1000, 'mumbai':2000, 'bhubaneswar': 1500}
dist = {key:value*0.62 for key,value in distances.items()}
print(dist)

{'delhi': 620.0, 'mumbai': 1240.0, 'bhubaneswar': 930.0}

In [167]:
# using zip

days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,35.5,30.2,31.1,30.26,30.22]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 35.5,
 'Wednesday': 30.2,
 'Thursday': 31.1,
 'Friday': 30.26,
 'Saturday': 30.22}

In [168]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}
{key:value for(key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [170]:
# Nested Comprehension
# Print tables from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}