# Operators in Python

- Arithmetic Operators
- Relational Operators
- Logical Operators
- Bitwise Operators
- Assignment Operators
- Membership Operators

In [ ]:
# Arithmetic Operators
print(3+2)

print(9-8)

print(2*8)

print(5/6)

print(5//6)

print(5%6)

print(5 ** 2)

5
1
16
0.8333333333333334
0
5
25

In [ ]:
# Relational Operators
print(4>5)

print(3<4)

print(9>=9)

print(10>=9)

print(9!=10)

print(9<=10)

print(9<=9)

False
True
True
True
True
True
True

In [ ]:
# Logical Operators
# AND OPERATOR
print(1 and 0)

print(1 and 1)

print(0 and 0)

print(0 and 1)

0
1
0
0

In [ ]:
# OR OPERATOR
print(1 or 0)

print(0 or 1)

print(0 or 0)

print(1 or 1)

1
1
0
1

In [ ]:
# NOT OPERATOR
print(not 0)

print(not 1)

True
False

In [ ]:
# Bitwise Operators

#bitwise and
print(2 & 3)

#bitwise or
print(2 | 3)

#bitwise xor
print(2 ^ 3)

#bitwise not
print(~2) #1 -> 0 and 0 -> 1

#bitwise right
print(4 >> 2)

#bitwise left
print(5 << 2)

2
3
1
-3
1
20

In [ ]:
# Assignment Operators
a = 24
print(a)
a += 2 # a = a + 2
print(a)
b = 24
print(b)
b -= 2 # b = b - 2
print(b)

24
26
24
22

In [ ]:
# Membership operators
# in
# not in

print("A" in "Ankit")
print("P" not in "Ankit")

True
True

In [ ]:
print(1 in [2,3,45,91])

False

In [ ]:
5//-2

-3

In [ ]:
# Program - Find the sum of a 3 digit number entered by the user

number = int(input('Enter a 3 digit number: '))

a = number%10
number = number//10
b = number%10
number = number//10
c = number%10
number = number//10

print(a+b+c)

Enter a 3 digit number: 345
12

### If-else in Python

In [ ]:
# login program and indentation
# email - ankit.0908@gmail.com
# pass - 090878

email = input('Enter email: ')
password = input('Enter password: ')

if email == 'ankit.0908@gmail.com' and password == '090878':
  print("Welcome")
elif email == 'ankit.0908@gmail.com' and password != '090878':
  print("Incorrect Password")
  password = input('Enter password again: ')
  if password == '090878':
    print("Welcome")
  else:
    print("Invalid Credentials")
else:
  print("Invalid Credentials")

Enter email: ankit.0908@gmail.com
Enter password: 04062004
Incorrect Password
Enter password again: 090878
Welcome

In [ ]:
# if-else examples
# 1. Find the minimum of 3 numbers.
# 2. Menu Driven Program.

In [ ]:
# min of 3 numbers.

a = int(input('first num: '))
b = int(input('second num: '))
c = int(input('third num: '))

if a<b and a<c:
  print(a, "is smaller")
elif b<c:
  print(b, "is smaller")
else:
  print(c, "is smaller")

first num: 99
second num: 46
third num: 100
46 is smaller

In [ ]:
# menu driven calculator
fnum = int(input("Enter first number: "))
snum = int(input("Enter second number: "))

op = input("Enter the operation: ")

if(op=='+'):
  print(fnum + snum)
elif(op=='-'):
  print(fnum - snum)
elif(op=='*'):
  print(fnum * snum)
else:
  print(fnum/snum)

Enter first number: 29
Enter second number: 4
Enter the operation: /
7.25

# Modules in Python

- math
- keywords
- random
- datetime

In [ ]:
# math
import math
math.factorial(4)

24

In [ ]:
# keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# random
import random
print(random.randint(1,100))

44

In [ ]:
# datetime
import datetime
print(datetime.datetime.now())

2025-07-03 01:35:32.906279

# Loops in Python

- Need for loops
- While Loop
- For Loop

In [ ]:
#loops ---> To perform repeated tasks
#while loop

number = int(input("Enter a number"))
i = 1
while i<11:
  print(number,'*',i,'=',number*i)
  i+=1

Enter a number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
# while loop with else

x = 1

while x<3:
  print(x)
  x+=1

else:
  print('limit crossed')

1
2
limit crossed

In [ ]:
# for loop demo
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

### Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
current_population = 10000
growth_rate = 0.10

print("Population at the end of each of the last 10 years:")

for year in range(1, 11):
    previous_population = current_population / (1 + growth_rate)  #New = Old + 10% of Old = Old * (1+0.10) = Old * 0.10
    print(f"Year -{year}: {int(previous_population)}")
    current_population = previous_population

Population at the end of each of the last 10 years:
Year -1: 9090
Year -2: 8264
Year -3: 7513
Year -4: 6830
Year -5: 6209
Year -6: 5644
Year -7: 5131
Year -8: 4665
Year -9: 4240
Year -10: 3855